* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 600px; 
  height: 450px; 
}
.blue-square, .white-square {
  flex-basis: 50%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-square{
  background: linear-gradient(135deg, rgb(84, 24, 249) 0%, hsla(241, 72%, 46%, 1) 100%);
  border-radius: 20px;
  padding: 20px; /* Lägg till lite padding för att ge utrymme runt elementen */
}
.blue-square h3, .blue-square h2, .blue-square p{
  flex-basis: 20%;
  justify-content: center;
}
.blue-square h3{
  padding-top: 20px;
  opacity: 0.5;
}
.blue-square h2{
  padding-top: 30px;
}
.blue-square p{
  font-size: 0.8em;
  opacity: 0.5 ;
  text-align: center;
  max-width: 80%;
}

.blue-circle{
  background: radial-gradient(circle, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 1) 100%);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 170px;
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-circle h1{
  font-size: 3rem;
}
.blue-circle p{
font-weight: bold;
}

.white-square{
  display: flex;
  border-radius: 20px ;
  flex-direction: column;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}
.white-square h3{
  margin-bottom: 10px;
  color: hsl(224, 30%, 27%);
  width: 80%;
}
.sense-box, .retake-test-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
  padding: 0px 10px 0px 10px;
  margin: 10px;
  width: 80%;
  border-radius: 10px;
}
.sense-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}
.sense-type h6{
  margin-left: 10px;
}
.sense-box p{
  font-size: 0.8em;
}
.sense-box span{
  font-weight: bold;
  font-size: 1.1em;
}

/* Color design for the diffrent sense-boxarna */
.sense-box.red{
  background-color: hsl(0, 100%, 67%, 0.1);
}
.sense-box.red h6{
  color: hsl(0, 100%, 67%);
}
.sense-box.yellow{
  background-color: hsl(39, 100%, 56%, 0.1);
}
.sense-box.yellow h6{
  color: hsl(39, 100%, 56%)
}
.sense-box.green{
  background-color: hsl(166, 100%, 37%, 0.1);
}
.sense-box.green h6{
  color: hsl(166, 100%, 37%)
}
.sense-box.blue{
  background-color: hsl(234, 85%, 45%, 0.1);
}
.sense-box.blue h6{
  color: hsl(234, 85%, 45%)
} 
/* Color design for the diffrent sense-boxarna ends here */

.retake-test-button{
  font-size: 0.8em;
  margin-top: 25px;
  justify-content: center;
  border-radius: 25px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  border: none;
}
.retake-test-button:hover{
  background: linear-gradient(135deg, rgb(84, 24, 249) 0%, hsla(241, 72%, 46%, 1) 100%);
  cursor: pointer;
}

/*Mobile design starts here*/

@media (max-width: 600px) {

  body{
    overflow: auto;
  }
  .wrapper{
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: auto;
  }
  .blue-square, .white-square{
    width: 100%;
    padding: 10px;
    overflow: auto;

  }
  .blue-square h3{
    padding-bottom: 15px;
  }
  .blue-circle {
    margin: 0;
    width: 120px;
    height: 120px;
  }
  .sense-box, .retake-test-button{
    width: 90%;
    padding: 15px;
  }
}
 